In [1]:
import pandas as pd

In [2]:
abhi = pd.read_csv("SampleSpreadsheet1.csv", header = None)

In [23]:
abhi

,0,1,2,3,4,5,6,7,8,9
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [24]:
type(abhi)

pandas.core.frame.DataFrame

In [25]:
abhi.head()

,0,1,2,3,4,5,6,7,8,9
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [26]:
abhi.tail()

,0,1,2,3,4,5,6,7,8,9
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [12]:
abhi = pd.read_csv("SampleSpreadsheet1.csv", header = None, names= ['col1', 'col2','col3','col4', 'col5', 'col6','col7', 'col8','col9','col10'])

In [3]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [4]:
abhi[['col2']]

                                                  col2
0     Eldon Base for stackable storage shelf, platinum
1    1.7 Cubic Foot Compact "Cube" Office Refrigera...
2     Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl
3                                                 R380
4                             Holmes HEPA Air Purifier
..                                                 ...
995                                         Xerox 1905
996              Dana Halogen Swing-Arm Architect Lamp
997                               Maxell DVD-RAM Discs
998  DAX Contemporary Wood Frame with Silver Metal ...
999  Computer Printout Paper with Letter-Trim Perfo...

[1000 rows x 1 columns]

In [6]:
abhi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    1000 non-null   int64
 1   col2    1000 non-null   object
 2   col3    1000 non-null   object
 3   col4    1000 non-null   int64
 4   col5    1000 non-null   float64
 5   col6    1000 non-null   float64
 6   col7    1000 non-null   float64
 7   col8    1000 non-null   object
 8   col9    1000 non-null   object
 9   col10   990 non-null    float64
dtypes: float64(4), int64(2), object(4)
memory usage: 78.2+ KB

In [8]:
abhi.columns

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9',
       'col10'],
      dtype='object')

In [10]:
abhi.dtypes

col1       int64
col2      object
col3      object
col4       int64
col5     float64
col6     float64
col7     float64
col8      object
col9      object
col10    float64
dtype: object

In [11]:
abhi.describe()

,col1,col4,col5,col6,col7,col10
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,990.000000
mean,500.500000,29164.920000,166.124670,86.691280,13.476130,0.516333
std,288.819436,17171.970504,1033.422308,206.189401,17.933205,0.136680
min,1.000000,3.000000,-11053.600000,1.260000,0.490000,0.350000
25%,250.750000,14347.750000,-86.827500,6.825000,3.300000,0.380000
50%,500.500000,28802.000000,1.190000,22.980000,6.265000,0.540000
75%,750.250000,43371.000000,161.217500,99.990000,14.490000,0.590000
max,1000.000000,59750.000000,10951.310000,3499.990000,147.120000,0.850000

In [12]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [18]:
abhi.dtypes == object

col1     False
col2      True
col3      True
col4     False
col5     False
col6     False
col7     False
col8      True
col9      True
col10    False
dtype: bool

In [20]:
type(abhi.dtypes)

pandas.core.series.Series

In [21]:
# Series is like a list. Here, col1,col2,etc are indexes and int, float, object are values,

In [24]:
abhi.dtypes[abhi.dtypes == object]

col2    object
col3    object
col8    object
col9    object
dtype: object

In [25]:
abhi.dtypes[abhi.dtypes == object].index

Index(['col2', 'col3', 'col8', 'col9'], dtype='object')

In [27]:
abhi[abhi.dtypes[abhi.dtypes == object].index]

,col2,col3,col8,col9
0,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,Nunavut,Storage & Organization
1,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,Nunavut,Appliances
2,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,Nunavut,Binders and Binder Accessories
3,R380,Clay Rozendal,Nunavut,Telephones and Communication
4,Holmes HEPA Air Purifier,Carlos Soltero,Nunavut,Appliances
...,...,...,...,...
995,Xerox 1905,Dennis Bolton,British Columbia,Paper
996,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,British Columbia,Office Furnishings
997,Maxell DVD-RAM Discs,Barbara Fisher,British Columbia,Computer Peripherals
998,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,British Columbia,Office Furnishings
999,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,British Columbia,Paper

In [35]:
abhi[abhi.dtypes[abhi.dtypes == object].index].describe()

,col2,col3,col8,col9
count,1000,1000,1000,1000
unique,664,117,5,17
top,"Global Leather and Oak Executive Chair, Black",Carlos Soltero,Northwest Territories,Paper
freq,6,33,394,129

In [28]:
# FIlter inly float data type columns

In [29]:
abhi.dtypes

col1       int64
col2      object
col3      object
col4       int64
col5     float64
col6     float64
col7     float64
col8      object
col9      object
col10    float64
dtype: object

In [30]:
abhi.dtypes[abhi.dtypes==float]

col5     float64
col6     float64
col7     float64
col10    float64
dtype: object

In [31]:
abhi.dtypes[abhi.dtypes==float].index

Index(['col5', 'col6', 'col7', 'col10'], dtype='object')

In [32]:
abhi[abhi.dtypes[abhi.dtypes==float].index]

        col5    col6   col7  col10
0    -213.25   38.94  35.00   0.80
1     457.81  208.16  68.02   0.58
2      46.71    8.69   2.99   0.39
3    1198.97  195.99   3.99   0.58
4      30.94   21.78   5.94   0.50
..       ...     ...    ...    ...
995  -147.27    6.48   9.54   0.37
996   154.74   40.97  14.45   0.57
997    67.96   16.48   1.99   0.42
998   133.83   20.24   6.67   0.49
999   153.80   18.97   9.03   0.37

[1000 rows x 4 columns]

In [34]:
abhi[abhi.dtypes[abhi.dtypes==float].index].describe()

               col5         col6         col7       col10
count   1000.000000  1000.000000  1000.000000  990.000000
mean     166.124670    86.691280    13.476130    0.516333
std     1033.422308   206.189401    17.933205    0.136680
min   -11053.600000     1.260000     0.490000    0.350000
25%      -86.827500     6.825000     3.300000    0.380000
50%        1.190000    22.980000     6.265000    0.540000
75%      161.217500    99.990000    14.490000    0.590000
max    10951.310000  3499.990000   147.120000    0.850000

In [36]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [38]:
abhi['col8'].count()

1000

In [48]:
abhi['col9'] == 'Appliances'

0      False
1       True
2      False
3      False
4       True
       ...
995    False
996    False
997    False
998    False
999    False
Name: col9, Length: 1000, dtype: bool

In [49]:
abhi[abhi['col9'] == 'Appliances']

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
12,13,Holmes HEPA Air Purifier,Carlos Daly,868,134.72,21.78,5.94,Nunavut,Appliances,0.50
44,45,Hoover Portapower™ Portable Vacuum,Jim Radford,4612,-375.64,4.48,49.00,Nunavut,Appliances,0.60
56,57,APC 7 Outlet Network SurgeArrest Surge Protector,Ann Chong,5894,-68.22,80.48,4.50,Nunavut,Appliances,0.55
73,74,3M Office Air Cleaner,Beth Paige,7906,271.78,25.98,5.37,Nunavut,Appliances,0.50
83,84,"Acco Smartsocket™ Table Surge Protector, 6 Col...",Sylvia Foulston,9126,884.08,62.05,3.99,Northwest Territories,Appliances,0.55
123,124,Holmes 99% HEPA Air Purifier,Skye Norling,13313,-209.61,21.66,13.99,Northwest Territories,Appliances,0.52
133,134,Kensington 7 Outlet MasterPiece Power Center w...,Carl Jackson,14819,3122.78,207.48,0.99,Northwest Territories,Appliances,0.55
176,177,Staples 6 Outlet Surge,Brendan Dodson,19078,-18.19,11.97,4.98,Northwest Territories,Appliances,0.58
249,250,Belkin 6 Outlet Metallic Surge Strip,Delfina Latchford,27680,-46.98,10.89,4.50,Northwest Territories,Appliances,0.59
257,258,Bionaire Personal Warm Mist Humidifier/Vaporizer,Jeremy Lonsdale,28135,520.69,46.89,5.10,Northwest Territories,Appliances,0.46
286,287,Staples 6 Outlet Surge,Nicole Hansen,31492,-12.25,11.97,4.98,Northwest Territories,Appliances,0.58
289,290,Honeywell Enviracaire Portable HEPA Air Cleane...,Cari Schnelling,31558,900.06,300.65,24.49,Northwest Territories,Appliances,0.52
300,301,Kensington 7 Outlet MasterPiece Power Center,Grant Carroll,32743,1280.19,177.98,0.99,Northwest Territories,Appliances,0.56
325,326,Eureka Disposable Bags for Sanitaire® Vibra Gr...,Thomas Seio,34246,-257.11,4.06,6.89,Northwest Territories,Appliances,0.60
373,374,Hoover Portapower™ Portable Vacuum,Bryan Mills,41696,-2088.68,4.48,49.00,Northwest Territories,Appliances,0.60
374,375,Fellowes Command Center 5-outlet power strip,Alan Barnes,42209,-12.82,67.84,0.99,Northwest Territories,Appliances,0.58
385,386,Honeywell Enviracaire® Portable Air Cleaner fo...,Fred Wasserman,43267,171.26,76.72,19.95,Northwest Territories,Appliances,0.54
386,387,Belkin 8 Outlet SurgeMaster II Gold Surge Prot...,Doug Bickford,43329,752.37,59.98,3.99,Northwest Territories,Appliances,0.57
421,422,Euro Pro Shark Stick Mini Vacuum,Joy Bell,49154,-807.89,60.98,49.00,Northwest Territories,Appliances,0.59
454,455,Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...,Don Miller,54083,258.01,279.81,23.19,Northwest Territories,Appliances,0.59
455,456,Honeywell Quietcare HEPA Air Cleaner,Don Jones,54274,328.00,78.65,13.99,Northwest Territories,Appliances,0.52
478,479,Eureka The Boss® Cordless Rechargeable Stick Vac,Sylvia Foulston,58340,278.12,50.98,13.66,Prince Edward Island,Appliances,0.58
493,494,Kensington 7 Outlet MasterPiece Power Center,Michelle Lonsdale,59234,2109.21,177.98,0.99,Prince Edward Island,Appliances,0.56
506,507,Conquest™ 14 Commercial Heavy-Duty Upright Vac...,Jack Lebron,4007,112.36,56.96,13.22,Prince Edward Island,Appliances,0.56
515,516,Avanti 4.4 Cu. Ft. Refrigerator,Roy French,9216,-86.68,180.98,55.24,Prince Edward Island,Appliances,0.57
558,559,Hoover WindTunnel™ Plus Canister Vacuum,Greg Guthrie,18210,2437.17,363.25,19.99,Prince Edward Island,Appliances,0.57
575,576,Euro Pro Shark Stick Mini Vacuum,Jack Lebron,22469,-678.63,60.98,49.00,Prince Edward Island,Appliances,0.59
584,585,Holmes Replacement Filter for HEPA Air Cleaner...,Jack Lebron,24451,-564.74,68.81,60.00,Prince Edward Island,Appliances,0.41
589,590,Holmes Harmony HEPA Air Purifier for 17 x 20 Room,Joy Smith,25315,3506.24,225.04,11.79,Prince Edward Island,Appliances,0.42
607,608,Avanti 4.4 Cu. Ft. Refrigerator,Helen Abelman,30048,433.63,180.98,55.24,Prince Edward Island,Appliances,0.57
608,609,"Fellowes Smart Surge Ten-Outlet Protector, Pla...",Hilary Holden,30243,650.56,60.22,3.50,Prince Edward Island,Appliances,0.57
640,641,Hoover® Commercial Lightweight Upright Vacuum,Jack Lebron,38310,-141.76,3.48,49.00,Prince Edward Island,Appliances,0.59
678,679,Bionaire Personal Warm Mist Humidifier/Vaporizer,Greg Guthrie,47876,58.08,46.89,5.10,Prince Edward Island,Appliances,0.46
699,700,Belkin 8 Outlet Surge Protector,Greg Guthrie,52482,163.78,40.98,5.33,Manitoba,Appliances,0.57
701,702,Holmes Replacement Filter for HEPA Air Cleaner...,Christopher Schild,53410,-253.11,14.81,13.32,Manitoba,Appliances,0.43
710,711,Eureka Sanitaire ® Multi-Pro Heavy-Duty Uprigh...,Brian Moss,54115,-80.05,4.37,5.15,Manitoba,Appliances,0.59
756,757,Kensington 7 Outlet MasterPiece® HOMEOFFICE Po...,Matt Collins,5318,195.16,131.12,0.99,British Columbia,Appliances,0.55
828,829,Honeywell Quietcare HEPA Air Cleaner,Kimberly Carter,31941,650.73,78.65,13.99,British Columbia,Appliances,0.52
832,833,Fellowes 8 Outlet Superior Workstation Surge P...,Sally Knutson,34816,267.16,41.71,4.50,British Columbia,Appliances,0.56
835,836,Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...,Anthony Johnson,36068,1243.17,279.81,23.19,British Columbia,Appliances,0.59
845,846,Eureka Disposable Bags for Sanitaire® Vibra Gr...,Sally Knutson,39783,-94.76,4.06,6.89,British Columbia,Appliances,0.60
848,849,"Fellowes Premier Superior Surge Suppressor, 10...",Michelle Arnett,42500,437.07,48.92,4.50,British Columbia,Appliances,0.59
868,869,Staples 6 Outlet Surge,Anthony Johnson,50816,-35.94,11.97,4.98,British Columbia,Appliances,0.58
898,899,Belkin 8 Outlet SurgeMaster II Gold Surge Prot...,Anthony O'Donnell,928,300.97,59.98,3.99,British Columbia,Appliances,0.57
902,903,Euro Pro Shark Stick Mini Vacuum,Alex Avila,1856,-712.14,60.98,49.00,British Columbia,Appliances,0.59
932,933,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Sonia Sunley,19074,191.47,208.16,68.02,British Columbia,Appliances,0.58
938,939,"Eureka Hand Vacuum, Bagless",Stewart Carmichael,22119,-122.77,49.43,19.99,British Columbia,Appliances,0.57
947,948,Belkin 8 Outlet Surge Protector,Anna Andreadi,26373,2.30,40.98,5.33,British Columbia,Appliances,0.57

In [51]:
abhi['col8'] == 'British Columbia'

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996     True
997     True
998     True
999     True
Name: col8, Length: 1000, dtype: bool

In [52]:
abhi[abhi['col8'] == 'British Columbia']

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
735,736,"GE 4 Foot Flourescent Tube, 40 Watt",Jack Lebron,59074,70.80,14.98,8.99,British Columbia,Office Furnishings,0.39
736,737,"Bush Westfield Collection Bookcases, Fully Ass...",Jack Lebron,59233,-160.46,100.98,35.84,British Columbia,Bookcases,0.62
737,738,Nu-Dell Leatherette Frames,Jack Lebron,59233,7.69,14.34,5.00,British Columbia,Office Furnishings,0.49
738,739,Micro Innovations Micro Digital Wireless Keybo...,Giulietta Baptist,59425,717.12,83.10,6.13,British Columbia,Computer Peripherals,0.45
739,740,Snap-A-Way® Black Print Carbonless Ruled Speed...,Giulietta Baptist,59425,741.27,37.94,5.08,British Columbia,Paper,0.38
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [55]:
abhi['col5'].sum()

166124.66999999998

In [56]:
abhi['col5'].count()

1000

In [57]:
abhi.count()

col1     1000
col2     1000
col3     1000
col4     1000
col5     1000
col6     1000
col7     1000
col8     1000
col9     1000
col10     990
dtype: int64

In [59]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [64]:
(abhi['col3'] == 'Barry French') & (abhi['col8'] == 'Nunavut')

0      False
1       True
2       True
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [65]:
abhi[(abhi['col3'] == 'Barry French') & (abhi['col8'] == 'Nunavut')]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39

In [67]:
abhi.head(2)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58

In [69]:
abhi['col5'].max()

10951.31

In [70]:
abhi['col5'].min()

-11053.6

In [71]:
abhi['col6'].max()

3499.99

In [72]:
abhi['col6'].min()

1.26

In [82]:
abhi['col3'][abhi['col5']== abhi['col5'].max()]

175    Grant Carroll
Name: col3, dtype: object

In [84]:
abhi[abhi['col5']== abhi['col5'].max()]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
175,176,Fellowes PB500 Electric Punch Plastic Comb Bin...,Grant Carroll,19010,10951.31,1270.99,19.99,Northwest Territories,Binders and Binder Accessories,0.35

In [85]:
abhi[abhi['col5']== abhi['col5'].max()].col3

175    Grant Carroll
Name: col3, dtype: object

In [88]:
abhi[abhi['col5']== abhi['col5'].max()][['col3']]

              col3
175  Grant Carroll

In [89]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [90]:
abhi['New_Column'] = abhi['col6'] + abhi['col7']

In [91]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,New_Column
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,73.94
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,276.18
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,11.68
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,199.98
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,27.72

In [92]:
abhi["new"] = abhi['col2']

In [93]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,New_Column,new
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,73.94,"Eldon Base for stackable storage shelf, platinum"
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,276.18,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera..."
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,11.68,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl"
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,199.98,R380
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,27.72,Holmes HEPA Air Purifier

In [97]:
abhi.drop('new' , axis=1)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,New_Column
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,73.94
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,276.18
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,11.68
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,199.98
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,27.72
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,16.02
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,55.42
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,18.47
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,26.91
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,28.00

In [98]:
abhi.drop('New_Column', axis=1)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,new
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,"Eldon Base for stackable storage shelf, platinum"
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera..."
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl"
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,R380
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,Holmes HEPA Air Purifier
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,Xerox 1905
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,Dana Halogen Swing-Arm Architect Lamp
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,Maxell DVD-RAM Discs
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,DAX Contemporary Wood Frame with Silver Metal ...
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,Computer Printout Paper with Letter-Trim Perfo...

In [99]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,New_Column,new
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,73.94,"Eldon Base for stackable storage shelf, platinum"
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,276.18,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera..."
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,11.68,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl"
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,199.98,R380
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,27.72,Holmes HEPA Air Purifier
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,16.02,Xerox 1905
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,55.42,Dana Halogen Swing-Arm Architect Lamp
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,18.47,Maxell DVD-RAM Discs
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,26.91,DAX Contemporary Wood Frame with Silver Metal ...
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,28.00,Computer Printout Paper with Letter-Trim Perfo...

In [100]:
abhi.drop('new' , axis=1, inplace = True)

In [101]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,New_Column
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,73.94
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,276.18
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,11.68
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,199.98
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,27.72
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,16.02
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,55.42
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,18.47
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,26.91
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,28.00

In [102]:
abhi.drop('New_Column', axis=1, inplace=True)

In [103]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [104]:
abhi.drop(0)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
5,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [105]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [106]:
abhi.iloc[0]

col1                                                    1
col2     Eldon Base for stackable storage shelf, platinum
col3                                   Muhammed MacIntyre
col4                                                    3
col5                                              -213.25
col6                                                38.94
col7                                                 35.0
col8                                              Nunavut
col9                               Storage & Organization
col10                                                 0.8
Name: 0, dtype: object

In [107]:
abhi.loc[0]

col1                                                    1
col2     Eldon Base for stackable storage shelf, platinum
col3                                   Muhammed MacIntyre
col4                                                    3
col5                                              -213.25
col6                                                38.94
col7                                                 35.0
col8                                              Nunavut
col9                               Storage & Organization
col10                                                 0.8
Name: 0, dtype: object

In [108]:
abhi.loc[2:3]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58

In [109]:
abhi.loc[2:5]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
5,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37

In [110]:
abhi.iloc[2:5]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [111]:
abhi.iloc[4,8]

'Appliances'

In [113]:
abhi.loc[4,8]

KeyError: 8

In [116]:
abhi.loc[: , ['col1','col2','col3']]

,col1,col2,col3
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French
3,4,R380,Clay Rozendal
4,5,Holmes HEPA Air Purifier,Carlos Soltero
...,...,...,...
995,996,Xerox 1905,Dennis Bolton
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell
997,998,Maxell DVD-RAM Discs,Barbara Fisher
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher

In [117]:
abhi.iloc[: , ['col1','col2','col3']]

IndexError: .iloc requires numeric indexers, got ['col1' 'col2' 'col3']

In [118]:
abhi.loc[5:10 , ['col1','col2','col3']]

    col1                                               col2             col3
5      6  G.E. Longer-Life Indoor Recessed Floodlight Bulbs   Carlos Soltero
6      7  Angle-D Binders with Locking Rings, Label Holders     Carl Jackson
7      8            SAFCO Mobile Desk Side File, Wire Frame     Carl Jackson
8      9              SAFCO Commercial Wire Shelving, Black   Monica Federle
9     10                                          Xerox 198  Dorothy Badders
10    11                                         Xerox 1980  Neola Schneider

In [119]:
abhi.iloc[: , [0,1,2]]

,col1,col2,col3
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French
3,4,R380,Clay Rozendal
4,5,Holmes HEPA Air Purifier,Carlos Soltero
...,...,...,...
995,996,Xerox 1905,Dennis Bolton
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell
997,998,Maxell DVD-RAM Discs,Barbara Fisher
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher

In [121]:
abhi.iloc[: , :]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [123]:
abhi.iloc[[3,4], [1,2]]

                       col2            col3
3                      R380   Clay Rozendal
4  Holmes HEPA Air Purifier  Carlos Soltero

In [124]:
abhi.iloc[[3,7], [1,2]]

                                      col2           col3
3                                     R380  Clay Rozendal
7  SAFCO Mobile Desk Side File, Wire Frame   Carl Jackson

In [126]:
abhi.loc[[3,4], ['col1','col2']]

   col1                      col2
3     4                      R380
4     5  Holmes HEPA Air Purifier

In [127]:
abhi.loc[[3,7], ['col1','col2']]

   col1                                     col2
3     4                                     R380
7     8  SAFCO Mobile Desk Side File, Wire Frame

In [129]:
abhi.loc[3:8, ['col1','col2']]

   col1                                               col2
3     4                                               R380
4     5                           Holmes HEPA Air Purifier
5     6  G.E. Longer-Life Indoor Recessed Floodlight Bulbs
6     7  Angle-D Binders with Locking Rings, Label Holders
7     8            SAFCO Mobile Desk Side File, Wire Frame
8     9              SAFCO Commercial Wire Shelving, Black

In [130]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50

In [141]:
abhi[abhi['col4'] > 850]

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
12,13,Holmes HEPA Air Purifier,Carlos Daly,868,134.72,21.78,5.94,Nunavut,Appliances,0.50
13,14,"DS/HD IBM Formatted Diskettes, 200/Pack - Staples",Carlos Daly,868,114.46,47.98,3.61,Nunavut,Computer Peripherals,0.71
14,15,"Wilson Jones 1"" Hanging DublLock® Ring Binders",Claudia Miner,933,-4.72,5.28,2.99,Nunavut,Binders and Binder Accessories,0.37
15,16,Ultra Commercial Grade Dual Valve Door Closer,Neola Schneider,995,782.91,39.89,3.04,Nunavut,Office Furnishings,0.53
16,17,"#10-4 1/8"" x 9 1/2"" Premium Diagonal Seam Enve...",Allen Rosenblatt,998,93.80,15.74,1.39,Nunavut,Envelopes,0.40
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [143]:
demo = abhi.iloc[0:5, [0,1,3,4]]

In [144]:
demo

   col1                                               col2  col4     col5
0     1   Eldon Base for stackable storage shelf, platinum     3  -213.25
1     2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   293   457.81
2     3   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl   293    46.71
3     4                                               R380   483  1198.97
4     5                           Holmes HEPA Air Purifier   515    30.94

In [148]:
demo.set_index('col4')

      col1                                               col2     col5
col4
3        1   Eldon Base for stackable storage shelf, platinum  -213.25
293      2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   457.81
293      3   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl    46.71
483      4                                               R380  1198.97
515      5                           Holmes HEPA Air Purifier    30.94

In [149]:
demo.dropna()

   col1                                               col2  col4     col5
0     1   Eldon Base for stackable storage shelf, platinum     3  -213.25
1     2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   293   457.81
2     3   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl   293    46.71
3     4                                               R380   483  1198.97
4     5                           Holmes HEPA Air Purifier   515    30.94

In [150]:
demo.dropna(axis=1)

   col1                                               col2  col4     col5
0     1   Eldon Base for stackable storage shelf, platinum     3  -213.25
1     2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   293   457.81
2     3   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl   293    46.71
3     4                                               R380   483  1198.97
4     5                           Holmes HEPA Air Purifier   515    30.94

In [152]:
demo.drop_duplicates('col4')

   col1                                               col2  col4     col5
0     1   Eldon Base for stackable storage shelf, platinum     3  -213.25
1     2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   293   457.81
3     4                                               R380   483  1198.97
4     5                           Holmes HEPA Air Purifier   515    30.94

In [153]:
# dropna will drop column or rows only when a null value(atleast one) is detected.
# drop will remove entire row or column.

In [154]:
demo.set_index('col2')

                                                    col1  col4     col5
col2
Eldon Base for stackable storage shelf, platinum       1     3  -213.25
1.7 Cubic Foot Compact "Cube" Office Refrigerators     2   293   457.81
Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl       3   293    46.71
R380                                                   4   483  1198.97
Holmes HEPA Air Purifier                               5   515    30.94

In [155]:
demo["new"]= None

In [156]:
demo

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,None
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,None
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,None
3,4,R380,483,1198.97,None
4,5,Holmes HEPA Air Purifier,515,30.94,None

In [157]:
demo.dropna(axis=0, thresh=1)

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,None
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,None
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,None
3,4,R380,483,1198.97,None
4,5,Holmes HEPA Air Purifier,515,30.94,None

In [158]:
demo.dropna(axis=0, thresh=3)

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,None
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,None
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,None
3,4,R380,483,1198.97,None
4,5,Holmes HEPA Air Purifier,515,30.94,None

In [162]:
demo.dropna(axis=0, thresh=5)

Empty DataFrame
Columns: [col1, col2, col4, col5, new]
Index: []

In [163]:
demo

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,None
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,None
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,None
3,4,R380,483,1198.97,None
4,5,Holmes HEPA Air Purifier,515,30.94,None

In [161]:
demo.dropna(axis=1, thresh=1)

   col1                                               col2  col4     col5
0     1   Eldon Base for stackable storage shelf, platinum     3  -213.25
1     2  1.7 Cubic Foot Compact "Cube" Office Refrigera...   293   457.81
2     3   Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl   293    46.71
3     4                                               R380   483  1198.97
4     5                           Holmes HEPA Air Purifier   515    30.94

In [164]:
# thresh is minimum no of non null values.

In [168]:
demo

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,None
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,None
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,None
3,4,R380,483,1198.97,None
4,5,Holmes HEPA Air Purifier,515,30.94,None

In [177]:
avg = demo['col5'].mean()

In [178]:
avg

304.236

In [175]:
demo.describe()

           col1        col4         col5
count  5.000000    5.000000     5.000000
mean   3.000000  317.400000   304.236000
std    1.581139  204.026469   555.188258
min    1.000000    3.000000  -213.250000
25%    2.000000  293.000000    30.940000
50%    3.000000  293.000000    46.710000
75%    4.000000  483.000000   457.810000
max    5.000000  515.000000  1198.970000

In [179]:
demo.fillna(avg)

,col1,col2,col4,col5,new
0,1,"Eldon Base for stackable storage shelf, platinum",3,-213.25,304.236
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,457.81,304.236
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",293,46.71,304.236
3,4,R380,483,1198.97,304.236
4,5,Holmes HEPA Air Purifier,515,30.94,304.236

In [181]:
demo.groupby('col2').count()

                                                    col1  col4  col5  new
col2
1.7 Cubic Foot Compact "Cube" Office Refrigerators     1     1     1    0
Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl       1     1     1    0
Eldon Base for stackable storage shelf, platinum       1     1     1    0
Holmes HEPA Air Purifier                               1     1     1    0
R380                                                   1     1     1    0

In [183]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [185]:
abhi.groupby('col8').count()

                       col1  col2  col3  col4  col5  col6  col7  col9  col10
col8
British Columbia        265   265   265   265   265   265   265   265    264
Manitoba                 51    51    51    51    51    51    51    51     51
Northwest Territories   394   394   394   394   394   394   394   394    390
Nunavut                  79    79    79    79    79    79    79    79     76
Prince Edward Island    211   211   211   211   211   211   211   211    209

In [186]:
abhi.groupby('col8').mean()

/tmp/ipykernel_84/1462596336.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  abhi.groupby('col8').mean()

,col1,col4,col5,col6,col7,col10
col8,,,,,,
British Columbia,868.0,27990.415094,94.279774,64.213094,11.902906,0.521402
Manitoba,710.0,54121.450980,123.228039,87.602353,18.112941,0.557647
Northwest Territories,276.5,31088.296954,255.464670,100.500761,13.753629,0.518846
Nunavut,40.0,3757.379747,35.963418,76.219620,12.769494,0.510395
Prince Edward Island,579.0,30529.118483,148.633697,92.836209,14.077630,0.497321

In [3]:
data1 = abhi.iloc[0:5, [0,2,3,4]]

In [4]:
data1

   0                   2    3        4
0  1  Muhammed MacIntyre    3  -213.25
1  2        Barry French  293   457.81
2  3        Barry French  293    46.71
3  4       Clay Rozendal  483  1198.97
4  5      Carlos Soltero  515    30.94

In [5]:
data2 = abhi.iloc[0:5, [5,6,7,8]]

In [6]:
data2

        5      6        7                               8
0   38.94  35.00  Nunavut          Storage & Organization
1  208.16  68.02  Nunavut                      Appliances
2    8.69   2.99  Nunavut  Binders and Binder Accessories
3  195.99   3.99  Nunavut    Telephones and Communication
4   21.78   5.94  Nunavut                      Appliances

In [196]:
pd.concat([data1,data2], axis=0)

,col1,col3,col4,col5,col6,col7,col8,col9
0,1.0,Muhammed MacIntyre,3.0,-213.25,NaN,NaN,NaN,NaN
1,2.0,Barry French,293.0,457.81,NaN,NaN,NaN,NaN
2,3.0,Barry French,293.0,46.71,NaN,NaN,NaN,NaN
3,4.0,Clay Rozendal,483.0,1198.97,NaN,NaN,NaN,NaN
4,5.0,Carlos Soltero,515.0,30.94,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,38.94,35.00,Nunavut,Storage & Organization
1,NaN,NaN,NaN,NaN,208.16,68.02,Nunavut,Appliances
2,NaN,NaN,NaN,NaN,8.69,2.99,Nunavut,Binders and Binder Accessories
3,NaN,NaN,NaN,NaN,195.99,3.99,Nunavut,Telephones and Communication
4,NaN,NaN,NaN,NaN,21.78,5.94,Nunavut,Appliances

In [197]:
pd.concat([data1,data2], axis=1)

,col1,col3,col4,col5,col6,col7,col8,col9
0,1,Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization
1,2,Barry French,293,457.81,208.16,68.02,Nunavut,Appliances
2,3,Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories
3,4,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication
4,5,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances

In [7]:
data1

   0                   2    3        4
0  1  Muhammed MacIntyre    3  -213.25
1  2        Barry French  293   457.81
2  3        Barry French  293    46.71
3  4       Clay Rozendal  483  1198.97
4  5      Carlos Soltero  515    30.94

In [8]:
data2

        5      6        7                               8
0   38.94  35.00  Nunavut          Storage & Organization
1  208.16  68.02  Nunavut                      Appliances
2    8.69   2.99  Nunavut  Binders and Binder Accessories
3  195.99   3.99  Nunavut    Telephones and Communication
4   21.78   5.94  Nunavut                      Appliances

In [13]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [16]:
abhi['new']= abhi['col4'].apply(lambda x: x/3)

In [17]:
abhi.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,new
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,1.000000
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,97.666667
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,97.666667
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,161.000000
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,171.666667

In [18]:
def fun1(x):
    return x/3

In [19]:
abhi['new1']= abhi['col4'].apply(fun1)

In [20]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,new,new1
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,1.000000,1.000000
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,97.666667,97.666667
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,97.666667,97.666667
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,161.000000,161.000000
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,171.666667,171.666667
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,16055.000000,16055.000000
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,16065.666667,16065.666667
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,16161.333333,16161.333333
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,16161.333333,16161.333333
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,16161.333333,16161.333333

In [24]:
abhi.drop('new', axis =1, inplace = True)

In [26]:
abhi.drop('new1', axis =1, inplace = True)

KeyError: "['new1'] not found in axis"

In [27]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37

In [28]:
def test(x):
    if x > 15:
        return x/100
    else:
        return x

In [29]:
abhi['filter'] = abhi['col7'].apply(test)

In [30]:
abhi

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,filter
0,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35.00,Nunavut,Storage & Organization,0.80,0.3500
1,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58,0.6802
2,3,"Cardinal Slant-D® Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39,2.9900
3,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58,3.9900
4,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50,5.9400
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Xerox 1905,Dennis Bolton,48165,-147.27,6.48,9.54,British Columbia,Paper,0.37,9.5400
996,997,Dana Halogen Swing-Arm Architect Lamp,Anthony O'Donnell,48197,154.74,40.97,14.45,British Columbia,Office Furnishings,0.57,14.4500
997,998,Maxell DVD-RAM Discs,Barbara Fisher,48484,67.96,16.48,1.99,British Columbia,Computer Peripherals,0.42,1.9900
998,999,DAX Contemporary Wood Frame with Silver Metal ...,Barbara Fisher,48484,133.83,20.24,6.67,British Columbia,Office Furnishings,0.49,6.6700
999,1000,Computer Printout Paper with Letter-Trim Perfo...,Barbara Fisher,48484,153.80,18.97,9.03,British Columbia,Paper,0.37,9.0300